@use "base" as *;

body {
    font-family: $base-font;
    @include flex-center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    background-color: $primary-color;

    p {
        line-height: 1.7em;
    }

    h1 {
        color: $darkest-color;
    }
}

main {
    flex: 1;
    padding: 2%;
    width: 80%;
    max-width: 1000px;
    height: auto;
    background-color: $secondary-color;
    border-radius: 50px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);

    #map {
        height: 500px;
        width: 90%;
        margin-top: 30px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .weather-icon {
        font-size: 50px;
        margin-top: 10px;
    }

    input {
        margin-top: 20px;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    button {
        @extend %button-style;

        &:active {
            box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.2);
        }
    }
}

footer {
    p {
        line-height: 1.0em;
    }
}

.icon-line {
    @include flex-center;
    justify-content: center;
    width: 100%;
    height: 130px;
    flex-wrap: wrap;

    em {
        font-size: 35px;
        margin: 0 30px;
    }
}

.red {
    color: red !important;
}

.orange {
    color: orange !important;
}

.yellow {
    color: yellow !important;
}

.green {
    color: green !important;
}

.blue {
    color: blue !important;
}

.indigo {
    color: indigo !important;
}

.violet {
    color: violet !important;
}

