@use "base" as *;

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    background-color: #B7B1F2;
}

main {
    flex: 1;
    padding: 2%;
    width: 80%;
    max-width: 1000px;
    height: auto;
    background-color: #FFDCCC;
    border-radius: 50px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

p {
    line-height: 1.7em;
}

footer p {
    line-height: 1.0em;
}

#map {
    height: 500px;
    width: 90%;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.weather-icon {
    font-size: 50px;
    margin-top: 10px;
}

input {
    margin-top: 20px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5 10px;
    border: none;
    background-color: #6760a8;
    color: white;
    margin-left: 5px;
}

button:active {
    background-color: #4e4780;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #55023D;
}

.icon-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    flex-wrap: wrap;
}

.icon-line em {
    font-size: 35px;
    color: #000;
    margin: 0 30px;
}

.red {
    color: red !important;
}

.orange {
    color: orange !important;
}

.yellow {
    color: yellow !important;
}

.green {
    color: green !important;
}

.blue {
    color: blue !important;
}

.indigo {
    color: indigo !important;
}

.violet {
    color: violet !important;
}

